nav {
    width: 100%;
    padding: 0px;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 10123;
}

.nav_container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container .logo {
    width: 30%;
    text-align: center;
}

.logo a {
    text-decoration: none;
}

.logo a img {
    width: 320px;
    /* height: 70px; */
}

.menu {
    transition: 1s all ease!important;
}

ul.menu {
    list-style: none;
    margin-bottom: 0px;
}

ul.menu li,
ul.menu li a {
    display: inline-block;
    padding: 10px 10px;
    color: black;
    font-weight: 500;
    transition: 0.6s all ease;
}

ul.menu li a:hover {
    color: #5fcf80;
}

.btn {
    background-color: #5fcf80;
}

.btn a {
    color: white;
}

.icons {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    width: 35px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    display: none;
}

.navbtn {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #5fcf80;
    box-shadow: #5fcf8174;
}

@media (max-width: 800px) {
    .icons {
        display: block;
        right: 30px;
        cursor: pointer;
    }
    ul.menu {
        position: absolute;
        left: -100%;
        top: 75px;
        width: 100%;
        z-index: 10;
        background: whitesmoke;
    }
    ul.menu li {
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 5px;
        text-align: center;
    }
    ul.menu li a {
        color: black;
    }
    .open {
        left: 0!important;
    }
}